* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

.content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .content {
        width: 100%;
    }
}

header {
    width: 100%;
    max-width: 1920px;
    background-color: #26a26f;
}

@media (max-width: 1200px) {
    .banner {
        display: none;
    }
}


/*----------------------------------------轮播图的样式---------------------------------------*/

.v_out {
    margin: 0 auto;
    overflow: hidden;
}

.v_show {
    width: 1920px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.v_cont {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.v_cont ul li {
    float: left;
    list-style: none;
}


/*---圆圈---*/

.v_out_p {
    position: relative;
    overflow: visible;
}

.circle {
    position: absolute;
    list-style: none;
    left: 50%;
    top: 561px;
    margin-left: -54px;
}

.circle li {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.circle .circle-cur {
    background: #29b078;
    border-color: #29b078;
}


/*---切换---*/

.prev {
    position: absolute;
    top: 252px;
    left: 15%;
}

.next {
    position: absolute;
    top: 252px;
    right: 15%;
}

@media screen and (max-width:1500px) {
    .prev {
        position: absolute;
        top: 252px;
        left: 5%;
    }
    .next {
        position: absolute;
        top: 252px;
        right: 5%;
    }
}

.service-wrap {
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    color: #26a26f;
}

.service-wrap p {
    overflow: hidden;
}

.service-wrap img {
    display: inline-block;
    float: right;
    margin: 6px 5px;
}


/*----------------------------------------导航栏样式---------------------------------------*/

.nav-wrap {
    width: 100%;
    height: 100px;
}

.nav-wrap ul {
    float: right;
    list-style: none;
    color: #fff;
}

@media (max-width: 1200px) {
    .nav-wrap ul {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
}

.nav-wrap li {
    display: inline-block;
    height: 96px;
    padding: 0 25px;
    font-size: 150%;
    line-height: 93px;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #26a26f;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    .nav-wrap li {
        font-size: 110%;
        padding: 0 15px;
    }
}

.nav-wrap li:hover {
    border-bottom: 4px solid #fff;
}

.banner img {
    width: 100%;
}


/*----------------------------------------简介部分样式---------------------------------------*/

.intro {
    height: 396px;
    margin-bottom: 130px;
}

.intro-item {
    float: left;
    width: 25%;
    height: 100%;
}

.item-logo {
    position: relative;
    text-align: center;
    height: 224px;
}

.item-logo img {
    position: absolute;
    bottom: 0;
    left: 42%;
}

.item-title {
    height: 83px;
    line-height: 83px;
    font-size: 130%;
    text-align: center;
}

.item-explain {
    padding: 0 10%;
    font-size: 106%;
    color: #999999;
}

.item-peopleAndjob {
    width: 100%;
    height: 85px;
    padding: 0 10%;
    color: #999999;
    border-left: 1px dashed #dedede;
}

.item-peopleAndjob p {
    font-size: 130%;
}

.num {
    font-size: 120%;
    color: #26a26f;
    margin-bottom: 10px;
}

.intro-item-last {
    width: 24.9%;
}

.item-logo-last {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-left: 1px dashed #dedede;
}

@media (max-width: 700px) {
    .intro {
        height: auto;
        overflow: hidden;
    }
    .intro-item {
        float: left;
        width: 50%;
        height: 250px;
    }
    .item-logo {
        height: 100px;
    }
}

@media (max-width: 350px) {
    .intro {
        height: auto;
        overflow: hidden;
    }
    .intro-item {
        float: left;
        width: 100%;
        height: 250px;
    }
    .item-logo {
        height: 100px;
    }
}


/*----------------------------------------学习方法部分样式---------------------------------------*/

.learn-wrap {
    height: 430px;
}

.learn-wrap h3 {
    text-align: center;
    margin-bottom: 60px;
}

.step {
    float: left;
    height: 70px;
    padding-bottom: 100px;
}

.step span {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    color: #26a26f;
    box-shadow: -2px 3px 4px #eae9ea;
    text-align: center;
    font-size: 150%;
    line-height: 70px;
}

.step p {
    width: 155px;
    padding: 5px 10px;
    color: #999;
}

.step img {
    margin-right: 10px;
}

@media (max-width: 1200px) {
    .learn-wrap {
        height: auto;
        overflow: hidden;
        margin-bottom: 100px;
    }
    .step-img {
        display: none;
    }
    .step {
        width: 25%;
        padding: 0 20px 100px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media (max-width: 1050px) {
    .step {
        width: 33.3%;
        padding: 0 20px 100px;
    }
}

@media (max-width: 750px) {
    .step {
        width: 50%;
        padding: 0 20px 100px;
    }
}

@media (max-width: 500px) {
    .step {
        width: 100%;
        padding: 0 20px 100px;
    }
    .step table {
        margin: 0 auto;
    }
}


/*----------------------------------------学员展示部分样式---------------------------------------*/

.student-wrap {
    text-align: center;
    height: 630px;
}

.student-wrap > h3 {
    margin-bottom: 70px;
}

.student {
    height: 370px;
    margin-bottom: 22px;
}

.student-mes {
    float: left;
    width: 270px;
    margin-right: 35px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #eae9ea;
}

.avatar {
    margin: 20px 0 37px 0;
}

.student-mes p {
    color: #999;
    margin: 34px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px #e7e7e7;
}

@media (max-width: 1200px) {
    .student-wrap {
        height: auto;
        overflow: hidden;
        margin-bottom: 100px;
    }
    .page {
        display: none;
    }
    .student-mes {
        width: 40%;
        margin: 5% 5%;
    }
}

@media (max-width: 700px) {
    .student-mes {
        width: 80%;
        margin: 5% 10%;
    }
}


/*----------------------------------------合作商部分样式---------------------------------------*/

.partner-wrap {
    height: 378px;
    text-align: center;
}

.partner-wrap h3 {
    margin-bottom: 60px;
}

.partner {
    background-color: #fff;
    height: 180px;
    box-shadow: 1px 1px 4px #eae9ea;
}

.partnerImg {
    position: relative;
    float: left;
    height: 180px;
    width: 20%;
}

.partnerImg img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.partnerImg:hover {
    box-shadow: 0px 0px 10px #d6d6d6;
}

@media (max-width: 900px) {
    .partner-wrap {
        display: none;
    }
}


/*----------------------------------------友情链接部分样式---------------------------------------*/

.link {
    height: 135px;
    padding: 20px 45px;
    background-color: #fff;
}

.link h3 {
    text-align: center;
    margin-bottom: 30px;
}

.link ul li {
    font-size: 80%;
    float: left;
    width: 61px;
    padding-right: 59px;
    padding-bottom: 22px;
    color: #999;
    list-style-type: disc;
}

.link div {
    overflow: hidden;
}

@media (max-width: 1200px) {
    .link {
        height: auto;
    }
    .link li {
        margin-left: 15px;
    }
}

@media (max-width: 950px) {
    .link ul li {
        padding-right: 10px;
    }
}


/*----------------------------------------footer样式---------------------------------------*/

footer {
    position: relative;
    color: #fff;
    height: 205px;
    background-color: #26a26f;
}

.footer-left {
    float: left;
    width: 403px;
}

.footer-left h3 {
    font-weight: normal;
    margin-top: 40px;
}

.footer-left p {
    margin-top: 60px;
}

.footer-center {
    float: left;
    width: 617px;
}

.footer-center h3 {
    font-weight: normal;
    margin-top: 40px;
}

.footer-center span {
    float: left;
    width: 125px;
    margin-top: 20px;
}

.footer-right {
    position: relative;
    float: left;
    width: 180px;
    height: 175px;
    text-align: center;
}

.qrWrap {
    width: 92px;
    height: 112px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.qrWrap span {
    margin-bottom: 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid #32c086;
}

@media (max-width: 1200px) {
    footer {
        height: auto;
        overflow: hidden;
    }
    .footer-center {
        width: auto;
        margin-right: 150px;
    }
    .about {
        overflow: hidden;
        position: relative;
    }
    .footer-right {
        position: absolute;
        right: 10px;
    }
    .footer-left {
        width: auto;
        margin-left: 5%;
        margin-right: 150px;
    }
    .copyright {
        position: static;
    }
}

@media (max-width: 780px) {
    .footer-center {
        width: 45%;
        margin-left: 5%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-left {
        width: 45%;
        margin-right: 0;
    }
    .footer-right {
        display: none;
    }
}
