* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*------------------顶栏-------------------*/
.service {
    height: 40px;
    line-height: 36px;
    background-color: #fff;
    color: #26a26f;
}
.service img {
    margin: 6px 5px;
}

@media (max-width: 768px) {
    .service{
        display: none;
    }
}
/*------------------导航栏-------------------*/
.main-nav {
    background-color: #26a26f;
    height: auto;
}
.main-ul {
    float: right;
    margin-right: -30px !important;
}
.main-ul li {
    height: 96px;
    padding: 25px 25px;
    font-size: 20px;
    line-height: 93px;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #26a26f;
    text-decoration: none;
    cursor: pointer;
}

.main-ul li a {
    color: #fff;
}

.main-ul li a:hover {
    background-color: #26a26f;
}

.main-ul li a:visited {
    background-color: #26a26f;
}

.dropdown-ul li a{
    text-align: center;
    white-space: pre;
    color: #fff;
}
.dropdown-ul li:hover a{
    color: #000;
}
.main-nav li:hover {
    border-bottom: 4px solid #fff;
}
.navbar-green {
    background-color: #26a26f;
    border-color: #fff;
}
.navbar-green span {
    background-color: #fff !important;
}
.banner img {
    width: 100%;
}
@media (min-width: 768px) {
    .dropdown-ul {
        display: none;
    }
}

/*--------------------------------------content--------------------------------*/

.title {
    width: 100%;
    height: 76px;
    line-height: 76px;
    color: #29b078;
}

.title span:first-child {
    color: #000;
}

@media (max-width: 1200px) {
    .title {
        padding-left: 2%;
    }
}


/*--------------------------------------左边栏--------------------------------*/

.content-nav {
    margin-right: 3%;
    height: 708px;
    background-color: #fff;
    box-shadow: 0 0 4px #b3b3b3;
    border-radius: 5px;
}

.content-nav-tit {
    width: 100%;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ededed;
}

.content-nav-content {
    width: 100%;
    margin: 35px 0;
    float: right;
}

.content-nav-content ul {
    list-style: none;
    color: #29b078;
    font-weight: bold;
    padding-left: 20%;
}

.content-nav-content li {
    margin-bottom: 28px;
}

.content-nav-content li:hover {
    color: #f9a372;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ff7527;
    margin-right: 3px;
}

.content-nav-content li:hover div {
    background-color: #f9a372;
}

@media (max-width: 890px) {
    .content-nav {
        width: 96%;
        margin: 0 2%;
        float: none;
        overflow: hidden;
    }
    .content-nav-content ul {
        text-align: center;
        padding: 0;
    }
    .content-nav-content li {
        display: inline-block;
        margin: 2% 3%;
    }
}


/*--------------------------------------右边栏--------------------------------*/

.explain {
    overflow: hidden;
    height: 1103px;
    margin-bottom: 230px;
    background-color: #fff;
    box-shadow: 0 0 4px #b3b3b3;
    border-radius: 5px;
}

.explain-hd {
    width: 100%;
    height: 158px;
    border-bottom: 1px solid #e6e6e6;
}

.explain-hd-img {
    float: left;
    width: 240px;
    height: 158px;
    position: relative;
}

.explain-hd-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.explain-hd p {
    color: #999;
    line-height: 25px;
    padding: 25px 30px;
}

.explain-content p {
    overflow: hidden;
    color: #999;
    line-height: 25px;
    padding: 25px 65px;
}

@media (max-width: 1200px) {
    .content-nav,
    .explain,
    .explain-hd {
        height: auto;
    }
}

@media (max-width: 890px) {
    .explain {
        width: 96%;
        margin: 3% 2% 10%;
    }
    .explain-content p {
        color: #666;
        padding: 2% 6%;
    }
}


/*-------------------footer部分样式--------------------*/
footer {
    position: relative;
    color: #fff;
    height: 205px;
    background-color: #26a26f;
}

.footer-left {
    float: left;
    width: 403px;
}

.footer-left h3 {
    font-weight: normal;
    margin-top: 40px;
}

.footer-left p {
    margin-top: 60px;
}

.footer-center {
    float: left;
    width: 580px;
}

.footer-center h3 {
    font-weight: normal;
    margin-top: 40px;
}

.footer-center span {
    float: left;
    width: 115px;
    margin-top: 20px;
}

.footer-right {
    position: relative;
    float: left;
    width: 170px;
    height: 175px;
    text-align: center;
}

.qrWrap {
    width: 92px;
    height: 112px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.qrWrap span {
    margin-bottom: 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    border-top: 1px solid #32c086;
}

@media (max-width: 1200px) {
    footer {
        height: auto;
        overflow: hidden;
    }
    .footer-center {
        width: auto;
        margin-left: 5%;
        margin-right: 150px;
    }
    .about {
        overflow: hidden;
        position: relative;
    }
    .footer-right {
        position: absolute;
        right: 10px;
    }
    .footer-left {
        width: auto;
        margin-left: 5%;
        margin-right: 150px;
    }
    .copyright {
        position: static;
    }
}

@media (max-width: 780px) {
    .footer-center {
        width: 45%;
        margin-left: 5%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-left {
        width: 45%;
        margin-right: 0;
    }
    .footer-right {
        display: none;
    }
}
